{% include 'headder.html' %}

<h1>{{message}}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Department</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{emp_data.id}}</td>
        <td>{{emp_data.name}}</td>
        <td>{{emp_data.contact}}</td>
        <td>{{emp_data.department}}</td>
        <td>{{emp_data.salary}}</td>
      </tr>
    </tbody>
  </table>

  <form action="/del-emp/{{emp_data.id}}" method="POST" class="form-control">
    {% csrf_token %}

    <label for="password">password</label><br>
    <input type="password" name="password" id="password" placeholder="confirm password"><br><br>

    <button type="submit">Delete</button>



  </form>

  <a href="/update-emp/{{emp_data.id}}"><button>Update</button></a>


{% include 'footer.html' %}